<nav class="topnav">
  <%= image_tag 'twitter-512.png' %>
  <ul>
    <li><i class="material-icons">edit</i></li>
    <li><i class="material-icons">email</i></li>
    <li><i class="material-icons">search</i></li>
    <li><i class="material-icons">settings</i></li>
  </ul>
</nav>
