@font-face {
  font-family: 'Proxima-Regular';
  src: url('/assets/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url('/assets/Proxima\ Nova\ Bold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Proxima-Regular, sans-serif;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px 0 0;

  ul {
    width: 140px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      a {
        text-decoration: none;
        color: #2ca7e0;
        font-family: Proxima-Bold, sans-serif;
      }
    }
  }
}

.form {
  width: 400px;
  margin: 70px auto;
  padding: 15px;

  label,
  input[type='text'],
  input[type='file'],
  input[type='submit'] {
    width: 100%;
  }

  label {
    font-size: 14px;
  }

  .field,
  input[type='file'] {
    margin-bottom: 15px;
  }

  input[type='text'] {
    border: none;
    padding: 10px;
    border-radius: 4px;
    height: 30px;
  }

  input[type='submit'] {
    background-color: #2ca7e0;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border: none;
  }

  .image {
    text-align: center;
    margin-bottom: 15px;

    .twitter-logo {
      width: 70px;
      height: 70px;
    }
  }
}

.error {
  color: #ec1c0d;
  font-size: 12px;
  padding-left: 7px;
  padding-top: 5px;
}

.center {
  text-align: center;
  margin-bottom: 5px;
}

.container {
  width: 100%;

  .sideNav {
    width: 220px;
    position: fixed;
    min-height: 100vh;
    height: inherit;
    background-color: #213246;

    .sm-box {
      width: 100%;
      border-bottom: 2px solid #1c2b40;

      .hero-section {
        display: flex;
        width: 80%;
        margin: 20px auto;

        img {
          width: 40px;
          height: 40px;
        }

        .p-text {
          color: #94a2af;
          align-self: center;
          margin-left: 10px;
          font-size: 13px;
          font-family: Proxima-Bold, sans-serif;
        }
      }
    }

    .ff-box {
      width: 100%;
      display: flex;
      border-bottom: 2px solid #1c2b40;

      .side-following {
        width: 50%;

        .stats {
          text-align: center;
          padding: 10px 0 14px 0;

          .stat-no {
            color: #94a2af;
            font-family: Proxima-Bold, sans-serif;
            font-weight: 700;
          }

          .stat-name {
            color: #3b4e5f;
            font-size: 12px;
            font-weight: 700;
            margin-top: 4px;
          }
        }
      }

      .right-border {
        border-right: 2px solid #1c2b40;
      }
    }

    .links {
      .home-link {
        display: flex;
        color: #485e70;
        padding: 15px;
        font-size: 12px;
        cursor: pointer;

        i {
          width: 20px;
          height: 20px;
        }

        a {
          margin-left: 10px;
          color: #485e70;
          align-self: flex-end;
          text-decoration: none;
          font-weight: 700;
        }

        &:hover {
          background-color: #4f9ddb;
          color: #fff;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .main-section {
    width: calc(100% - 220px);
    margin-left: 220px;

    .topnav {
      background-color: #52a6e7;
      width: 100%;
      padding: 26px 35px 26px 25px;
      display: flex;
      justify-content: space-between;

      img {
        width: 25px;
        height: 25px;
      }

      ul {
        display: flex;
        width: 270px;
        color: #376e97;
        list-style-type: none;
        justify-content: space-between;

        li {
          cursor: pointer;
        }
      }
    }

    .wrapper {
      display: flex;

      .big-section {
        width: 70%;
        border-right: 2px solid #eaebed;

        .cover-img {
          background-position: center;
          background-repeat: no-repeat;
          background-size: center;
          background-clip: initial;
          width: 100%;
          height: 200px;
          background-color: #213246;
          border-bottom: 2px solid #eaebed;
        }

        .b-bottom {
          border-bottom: 2px solid #eaebed;

          .tab {
            border-bottom: 3px solid #4f9ddb;
            width: 100px;
            .tab-p {
              padding: 20px;

              p {
                font-size: 14px;
                color: #949ba3;
              }
            }
          }
        }

        .tweets {
          padding: 20px;

          .error {
            color: red !important;
          }

          .new-tweet {
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 15px;

            p {
              font-size: 12px;
              color: #878f98;
              text-align: left;
            }

            form {
              text-align: right;

              textarea {
                margin-top: 10px;
                width: 100%;
                padding: 10px;
                height: 40px;
                border: 1px solid #f3f3f3;
                overflow-y: hidden;
                border-radius: 4px;
                resize: none;
                color: #3b6b93;
                text-align: left;

                &::placeholder {
                  font-family: Proxima-Regular, sans-serif;
                  font-size: 12px;
                  color: #94a2af;
                }
              }

              input[type='submit'] {
                background-color: #2ca7e0;
                color: white;
                padding: 5px 8px;
                border: none;
                margin-top: 10px;
                border-radius: 4px;
                cursor: pointer;
              }
            }
          }

          .my-related-tweets {
            margin-top: 50px;
            background-color: #fff;
            padding: 20px;

            .opinion {
              display: flex;

              img {
                width: 40px;
                height: 40px;
              }

              &:not(:last-child) {
                margin-bottom: 20px;
              }

              .opinion-user {
                align-self: center;
                width: calc(100% - 40px);
                margin-left: 10px;

                h4 {
                  color: #3b4e5f;
                  font-size: 13px;
                }

                p {
                  color: #878f98;
                  margin-top: 4px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      .side-bar {
        width: 30%;
        padding: 20px 0;

        .user-container {
          width: 100%;

          .user-detailed-info {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
  
            .material-icons {
              align-self: center;
              color: #485e70;
              font-size: 30px;
            }
  
            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              justify-self: center;
            }
          }
        }

        .user-detailed-stats {
          margin-top: 10px;
          padding-bottom: 31px;
          color: #485e70;
          text-align: center;
        }

        .ff-box {
          width: 100%;
          display: flex;
          margin-bottom: 20px;
          border-bottom: 2px solid #eaebed;
          border-top: 2px solid #eaebed;

          .side-following {
            width: 50%;

            .stats {
              text-align: center;
              padding: 10px 0 14px 0;

              .stat-no {
                color: #94a2af;
                font-family: Proxima-Bold, sans-serif;
                font-weight: 700;
              }

              .stat-name {
                color: #3b4e5f;
                font-size: 12px;
                font-weight: 700;
                margin-top: 4px;
              }
            }
          }

          .right-border {
            border-right: 2px solid #eaebed;
          }
        }

        .followers-hero {
          display: flex;
          justify-content: space-between;
          color: #878f98;
          padding: 0 30px 16px 20px;
          border-bottom: 2px solid #eaebed;

          .followers-hero-p {
            font-size: 14px;
            font-weight: 500;
            align-self: center;
          }
        }

        .find-friends {
          height: 500px;
          overflow-y: scroll;
          padding-left: 20px;

          .user {
            display: flex;
            position: relative;
            margin-top: 20px;
            width: 100%;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            h6 {
              align-self: flex-start;
              margin-left: 10px;
              margin-top: 5px;
              color: #878f98;
              font-size: 13px;
              font-weight: 700;
              text-decoration: none;
            }

            a {
              position: absolute;
              align-self: center;
              right: 30px;
              color: #878f98;
            }
          }
        }
      }
    }
  }
}

a.user {
  text-decoration: none;
}
