@font-face {
  font-family: 'Proxima-Regular';
  src: url('/assets/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url('/assets/Proxima\ Nova\ Bold.otf') format('opentype');
}