.nav-links {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px 0 0;

  ul {
    width: 140px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      a {
        text-decoration: none;
        color: #2ca7e0;
        font-family: Proxima-Bold, sans-serif;
      }
    }
  }
}